table, tr, td, th {
    border: 2px solid black;
    text-align: center;
}

body {
    background-color: bisque;
    font-family: Architects Daughter;
}

#contactinfo {
    font-weight: bold;
}

header h1 {
    color: rgb(16, 156, 63);
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(16, 156, 63);
    font-size: 30px;
}

footer {
    padding-top: 50px;
}


table {
    font-family: Verdana;
    color: rgb(112, 76, 133);
    background-color: rgb(190, 223, 224);
    margin-left: auto;
    margin-right: auto;

}

#text {
    font-family: Georgia;
    color: rgb(155, 81, 94);
}

form {
    background-color: rgb(148, 214, 181);
}

form input{
    background-color: rgb(71, 65, 41);
    color: cornsilk;
}

#slogan {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;

}